@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;
  padding-left: 100px;
  padding-right: 100px;

  @include mobile {
    padding-left: 2px;
    padding-right: 2px;
  }

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      padding-bottom: 20px;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h3 {
        font-size: 40px;
        color: darkgrey;
      }

      h2 {
        font-size: 60px;
        color: rebeccapurple;
        letter-spacing: 10px;

        @include mobile {
          font-size: 30px;
          white-space: nowrap;
        }
      }

      h1 {
        font-size: 30px;

        @include mobile {
          font-size: 25px;
          white-space: nowrap;
        }
      }

      .button-85 {
        padding: 0.6em 2em;
        border: none;
        outline: none;
        color: rgb(255, 255, 255);
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-right: 20px;
      }

      .button-85:before {
        content: "";
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing-button-85 20s linear infinite;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }

      @keyframes glowing-button-85 {
        0% {
          background-position: 0 0;
        }

        50% {
          background-position: 400% 0;
        }

        100% {
          background-position: 0 0;
        }
      }

      .button-85:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #222;
        left: 0;
        top: 0;
        border-radius: 10px;
      }

      /*.buttons {
                button {
                    padding: 20px;
                    border: 2px solid orange;
                    border-radius: 10px;
                    background-color: lightblue;
                    color: black;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                    

                    

                    @include mobile {
                        width: 100px;
                        height: 50px;
                        padding: 5px;
                        margin: 10px;
                        display: inline-block;
                    }
                }
            } */

      img {
        width: 50px;

        @include mobile {
          display: none;
        }
      }
    }
  }

  .imageContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include mobile {
      height: 50%;
      width: 100%;
      top: unset;
      bottom: 0;
      margin-bottom: 50px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 60%;
      padding: 100px;

      @include mobile {
        padding: 50px;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
